.Header-Container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*******************************************************************************************/
.Header-Top-Container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 67.5rem;
    background:url("../../images/Header/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 12.5rem 12.5rem;
    padding:0 3rem;
    position: relative;
    z-index: 0;
}
.Header-Top-Container::before{
    content: "";
    z-index: -1;
    background-color: rgba(59, 55, 53, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: inherit;
}


/*******************************************************************************************/
.Top__navigation-Container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navigation-left-views{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navigation-left-views__items{

}

.navigation-left-views__Webicon a{
    display: block;
}
.navigation-views__Menuicon{
    display: none;
    padding: 1rem 0.75rem;
    background-color: white;
    border-radius: var(--box_border_radius);
}

.navigation-left-views__text a{
    font-size: 1.125rem;
    font-family: "Roboto_Regular"; 
    color: var(--graytextColor);
    position: relative;
    z-index: 0;

}

.--SelectedTab a{
    color: white;

}
.--SelectedTab a::before{
    position: absolute;
    width: 2.5rem;
    height: 3px;
    border-radius: 3px;
    z-index: -1;
    content: "";
    transform: rotate(45deg);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    background-color:var(--Orange_theme_color);
}

/*******************************************************************************************/

.Header_SidePanel{
    /* display: none; */
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0 ;
    z-index: 9999;
    /* box-shadow:inset 0px 0px 100px black; */
    
}
.divider_sidebar{
    height: 4px;
    width: 100%;
    background-color: rgb(34, 32, 32);
}
.divider_sidebar_stripes{
    --ipt-on-baseAlt-stripes-rgb: 255, 255, 255;
    --ipt-baseAlt-stripes-opacity: 0.08;    
    height: 4px;
    width: 100%;
    background: repeating-linear-gradient(45deg, rgba(var(--ipt-on-baseAlt-stripes-rgb), var(--ipt-baseAlt-stripes-opacity)), rgba(var(--ipt-on-baseAlt-stripes-rgb), var(--ipt-baseAlt-stripes-opacity)) 2px, transparent 2px, transparent 7px), transparent;
}
.__nav-sideBar-Container{
    background-color: rgb(231, 111, 81);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
}
.SideBar__CloseButton{
    width: 100%;
    /* background-color: rgb(255, 120, 120); */
    background-color: red;
    /* background-color: black;  */
    text-align: center;
    /* height: 60px; */
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: blur(1px);
    font-family: "Minecraft";
    font-size: 2rem;
    opacity: 0.3;   
    color: white;
    text-shadow: 0px 3px 1px black;
    box-shadow: inset 0 0 8px black;

}


.__nav-sideBar-Container__LINKS{
    height: 100%;
    --dist : 1.5rem;
    display: flex;
    flex-direction: column;
    gap: var(--dist);
    padding-top: var(--dist);
    overflow-y: auto;
}
header , main , footer{
    filter: blur(8.6px);
}
.SidePanel__navigation-left-views__items{
    padding: 0 1rem;

}   
.SidePanel__navigation-left-views__text{
    font-family: "Pop_ins";
    font-weight: bold;
    display: inline-block;
} 
.SidePanel__navigation-left-views__text a{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5rem;
} 
.--SidePanel__SelectedTab a{
    position: relative;
}
.--SidePanel__SelectedTab a::before{
    content: "";
    position: absolute;
    box-shadow: 0 3px 2px rgb(0,0,255);
    bottom: -4px;
    right: 0;
    left: 0;
    width: auto;
    height: 2px;
    background-color: transparent;
    background-color: #64B5F6;
}

.__LinksFooter:hover ~ .BottomFotter__tiltle-text h4::before{

}
.BottomFotter__tiltle-text h4::before{

}

.SidePanel__navigation-left-views__iconHeader{
    width: 100%;
    background-color: var(--Orange_theme_color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    box-shadow:inset 0px 0px 80px black;
}
.SidePanel__navigation-left-views__iconHeader svg{
    height: 100%;
    width: 4rem;
}

/*******************************************************************************************/
.Container_Top__title{

}-Continer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TopHeadr-Container-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.__nav-buttons{
    text-align: center;
    color: white;
    font-family: "Roboto_Medium";
    font-size: 1.125rem;
    border-radius: var(--text_button_border_radius);
    padding: 1rem 1rem;
}

.__nav-buttons:nth-child(2){
    border: 1px solid white;
    padding: 1rem 2.5rem;
}


/*******************************************************************************************/
.Top__title-Continer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.Top__title--items {
    text-align: center;
}

.__title--item-tilte{
    font-size: 5rem;
    font-family: "Archivo_Black";
    color: white;
    line-height: 1.1;

}
.__title--item-tilte h1{
    max-width: 35rem;
}

.__title--item-detail{
    font-size: 1.125rem;
    font-family: "Roboto_Regular";
    color: white;
    line-height: 1.5;
}
.__title--item-detail p{
    max-width: 33rem;
}

.__title--item-button{

}

.__title--item-Discover-button{
    display: block;
    font-size: 1.125rem;
    font-family: "Roboto_Medium";
    color: white;
    padding: 1rem 4.2rem;
    background-color: var(--Orange_theme_color);
    border-radius: var(--text_button_border_radius);
} 


/*******************************************************************************************/
.Header-Bottom-Container{
    margin-top: -4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
    padding: 0 3rem;
    gap: 1rem;
    z-index: 1;
    flex-wrap: wrap;
}

/*******************************************************************************************/
.Header-Bottom-Container__item-Continer{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    gap: 1rem;
    background-color: white;
    border-radius: 1.25rem;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 15rem;
}

.Header-Bottom-Container__items-icon{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Header-Bottom-Container__items-title{
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.Header-Bottom-Container__items-title h5{
    font-family: "Archivo_Black";
    font-size: 1.125rem;
}

.Header-Bottom-Container__items-details{
    width: 100%;
    text-align: center
}
.Header-Bottom-Container__items-details p{
    line-height: 1.6;
}