/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --graytextColor : #D2D2D2;
    --grayReadMore : #8D8D8D;
    --Orange_theme_color : #e76f51;
    --Pink_theme_color :#F8E1DB;

    --text_button_border_radius : 1.5rem;

    --box_border_radius : 1.25rem;

    --backBODY_color:#FAF4F2;

    --tranns_BUTTON: 100ms ease-in 10ms ;

}
html{
    scroll-behavior:smooth ;
}

*{
        
}

*,*::after,*::before{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a{
    text-decoration: none;
    color : black;
    
}
body{
    background-color: var(--backBODY_color);
     /* background-color: black; */
}
.Shape_Container{
    position: absolute;
    z-index: -2;
}
.ARC-Black__title-2{
    font-size: 2.5rem;
    font-family: "Archivo_Black";
}

.ARC-Black__title-3{
    font-size: 1.125rem;
    font-family: "Archivo_Black";
}
.REB-Regular__details-2{
    font-family: "Roboto_Regular";
    font-size: 1rem;
}
.REB-medium__text-1{
    font-family: "Roboto_Medium";
    font-size: 1rem;
}


.selectable{
    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
}

a,svg,img,form{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}