@keyframes Loading_Anim {to{background-position: 80% 100%}}
@keyframes Rotate_360deg {
    0%{
        transform: rotate(0deg);
    }
    /* 50%{
        transform: rotate(180deg);
    } */
    100%{
        transform: rotate(360deg);
    }
}



.__nav-buttons{
    transition: background-color var(--tranns_BUTTON);
}
.__nav-buttons:hover{
    background-color: white;
    color: black;
}

.navigation-left-views__text{
    transition: padding 10ms ease-in-out 10ms ;
}
.navigation-left-views__text:hover{
    color: greenyellow;
    padding: 0 0 2px 0;
    background: repeating-linear-gradient(90deg,currentColor 0 8%,#0000 0 10%) 200% 100%/200% 3px no-repeat;
    animation: Loading_Anim 2s steps(6) infinite;
}
.navigation-left-views__Webicon:hover{
    animation: Rotate_360deg 800ms ease-in-out 10ms 1 normal forwards;
}
.__title--item-Discover-button{
    transition: background-color var(--tranns_BUTTON);
}
.__title--item-Discover-button:hover{
    background-color: white;
    color: var(--Orange_theme_color);
}
.Header-Bottom-Container__item-Continer{
    transition:  box-shadow var(--tranns_BUTTON);
}
.Header-Bottom-Container__item-Continer:hover{
    box-shadow: 0px 1px 20px black;
}
.SideBar__CloseButton{
    transition: all 100ms linear 100ms;
}

.SideBar__CloseButton:hover{
    opacity: 1;
    filter: none;
    box-shadow: none;
}

.SideBar__CloseButton:hover~.__nav-sideBar-Container__LINKS{
    filter: blur(2px);
}
.__nav-sideBar-Container__LINKS{
    transition: filter 300ms linear 100ms;

}
.SidePanel__navigation-left-views__text:hover::before{
    content: "# ";
    color: transparent;
    position: relative;
    font-weight: bold;
    text-shadow: 0px 0px 10px greenyellow , 1px 1px 4px black ;
    animation: Light_Blinking 600ms 500ms infinite alternate linear;
}

@keyframes Light_Blinking {
    0%{

    }
    100%{
        color: greenyellow;
    }   
}

@keyframes OpenMenuANIM {
    0%{
        translate: calc(-1*(100vw)) 0 0;
    }
    100%{
        translate: 0 0 0;
        opacity: 1;

    }
}

@keyframes CloseMenuANIM {
    0%{
        translate: 0 0 0;
    }
    100%{
        translate: calc(-1*(100vw)) 0 0;
    }
}

.OpenMenuANIM_class{
    animation: OpenMenuANIM 500ms ease 10ms 1 normal forwards;
}
.CloseMenuANIM_class{
    animation: CloseMenuANIM 500ms ease-in-out 10ms 1 normal forwards;
}
._DisableBody_MenuActivated{
    filter: blur(8.6px);
    pointer-events: none;  
}
._DIS-DisableBody_MenuActivated{
    filter: initial;
    pointer-events: initial;  
}


@keyframes CloseANIM_ICON_LINE4 {
    0%{
        translate: 0 0 0;
    }
    100%{
        translate: 0 -5px 0;
    }
}

@keyframes CloseANIM_ICON_LINE2 {
    0%{
        translate: 0 0 0;
    }
    100%{
        translate: 0 5px 0;
        opacity: 0;
    }
}

@keyframes OpenANIM_ICON_LINE4 {
    0%{
        translate: 0 -5px 0;
    }
    100%{
        translate: 0 0 0;
        opacity: 1;
    }
}

@keyframes OpenANIM_ICON_LINE2 {
    0%{
        translate: 0 5px 0;
    }
    100%{
        translate: 0 0 0;
        opacity: 1;
    }
}

._4_colapsLines__MENU-ICON-GROUP{
    animation: CloseANIM_ICON_LINE4 500ms ease 0ms 1 normal forwards;

}
._2_colapsLines__MENU-ICON-GROUP{
    animation: CloseANIM_ICON_LINE2 500ms ease 0ms 1 normal forwards;

}
._4_RisesLines__MENU-ICON-GROUP{
    animation: OpenANIM_ICON_LINE4 500ms ease 100ms 1 normal forwards;

}
._2_RisesLines__MENU-ICON-GROUP{
    animation: OpenANIM_ICON_LINE2 500ms ease 100ms 1 normal forwards;

}