@keyframes scaling_Like_Icon_Anim {
    0% {
        scale : 1 ;
        rotate: 0deg;

    }

    50%{
        scale: 10;
    }
    80%{
        scale: 10;
    }


    100%{
        rotate: 0deg;
        scale : 1 ;

    }
}
@keyframes rotating_Like_Icon_Anim {
    0% {
        rotate: -3deg;

    }

    100%{
       rotate: +3deg;

    }
}


.items-ReadMore-Button a{
    transition: background-color var(--tranns_BUTTON);
}
.items-ReadMore-Button a:hover{
    background-color: #E1F5FE;
    /* color: b; */
}

.Main-Cotainer__ViewAll-Button a{
    transition: background-color var(--tranns_BUTTON);
}
.Main-Cotainer__ViewAll-Button a:hover{
    background-color: var(--Orange_theme_color);
    color: white;
}
.items-Picture__like-Icon path{
    transition: fill 300ms ease-in 800ms;
}
.items-Picture__like-Icon:hover svg{
    animation: scaling_Like_Icon_Anim 1500ms ease-in-out 10ms forwards , rotating_Like_Icon_Anim 100ms ease-in-out 800ms 6 alternate;

}
.items-Picture__like-Icon:hover path{
    fill: var(--Orange_theme_color);
}
