@keyframes bell_Ring {
    0% {
        rotate : -15deg ;
    }

    100%{
        rotate : +15deg ;

    }
}


.items-ReadMore-Button a{
    transition: background-color var(--tranns_BUTTON);
}
.items-ReadMore-Button a:hover{
    background-color: #E1F5FE;
    /* color: b; */
}

.Main-Cotainer__ViewAll-Button a{
    transition: background-color var(--tranns_BUTTON);
}
.Main-Cotainer__ViewAll-Button a:hover{
    background-color: var(--Orange_theme_color);
    color: white;
}
.items-Picture__like-Icon path{
    transition: fill var(--tranns_BUTTON);
}
.items-Picture__like-Icon:hover path{
    fill: var(--Orange_theme_color);

}
