.Header-Container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*******************************************************************************************/
.Header-Top-Container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 67.5rem;
    background:url("../images/Header/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 12.5rem 12.5rem;
    padding:0 3rem;
    position: relative;
    z-index: 0;
}
.Header-Top-Container::before{
    content: "";
    z-index: -1;
    background-color: rgba(59, 55, 53, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 12.5rem 12.5rem;
}


/*******************************************************************************************/
.Top__navigation-Container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navigation-left-views{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navigation-left-views__items{

}

.navigation-left-views__icon a{
    display: block;
}

.navigation-left-views__text a{
    font-size: 1.125rem;
    font-family: "Roboto_Regular"; 
    color: var(--graytextColor);
    position: relative;
    z-index: 0;

}

.--SelectedTab a{
    color: white;

}
.--SelectedTab a::before{
    position: absolute;
    width: 2.5rem;
    height: 3px;
    border-radius: 3px;
    z-index: -1;
    content: "";
    transform: rotate(45deg);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    background-color:var(--Orange_theme_color);
}

/*******************************************************************************************/
.Container_Top__title-Continer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TopHeadr-Container-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.__nav-buttons{
    text-align: center;
    color: white;
    font-family: "Roboto_Medium";
    font-size: 1.125rem;
}

.__nav-buttons:nth-child(2){
    border: 1px solid white;
    border-radius: var(--text_button_border_radius);
    padding: 1rem 2.5rem;
}


/*******************************************************************************************/
.Top__title-Continer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.Top__title--items {
    text-align: center;
}

.__title--item-tilte{
    font-size: 5rem;
    font-family: "Archivo_Black";
    color: white;
    line-height: 1.1;

}
.__title--item-tilte h1{
    max-width: 35rem;
}

.__title--item-detail{
    font-size: 1.125rem;
    font-family: "Roboto_Regular";
    color: white;
    line-height: 1.5;
}
.__title--item-detail p{
    max-width: 33rem;
}

.__title--item-button{
    background-color: var(--Orange_theme_color);
    border-radius: var(--text_button_border_radius);
}

.__title--item-Discover-button{
    display: block;
    font-size: 1.125rem;
    font-family: "Roboto_Medium";
    color: white;
    padding: 1rem 4.2rem;
} 


/*******************************************************************************************/
.Header-Bottom-Container{

}

/*******************************************************************************************/
.Header-Bottom-Container__item-Continer{

}

.Header-Bottom-Container__items-icon{

}

.Header-Bottom-Container__items-title{

}

.Header-Bottom-Container__items-details{

}
