/* Largest devices such as desktops (1280px and up) */
@media only screen and (max-width: 1280px) 
{


}



/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 1024px) 
{


}


/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 768px) 
{

    .ARC-Black__title-2{
        font-size: 2.4rem;
    }
    .Main-Container__ProductList-Container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .ProductList-Container--items{
        width: 100%;
    }
}
   




/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 640px) 
{


}


@media only screen and (max-width: 500px) 
{

    .Main-Container{
        padding: 0 1rem;

    }
}

@media only screen and (max-width: 400px) 
{

    .ARC-Black__title-2{
        font-size: 1.5rem;
    }
    .ProductList-Container--items{
        padding-left:0.5rem;
        padding-right:0.5rem;

    }
}

@media only screen and (max-width: 300px) 
{

    .items-Picture{
        width: 100%;
    }
    .Main-Cotainer__ViewAll-Button a{
        padding: 1rem  4rem;
    
    }

}
/* Default: Extra-small devices such as small phones (less than 640px) */
@media only screen and (max-width: 240px) 
{

    .ARC-Black__title-2{
        font-size: 1rem;
    }
    .items-ReadMore-Button a{
        padding: 1rem 1.5rem;

    }
    .items-price-dealtails{
        padding: 1rem 10%;
        margin-top: -2.5rem;
        z-index: 1;
    }
    .REB-medium__text-1{
        font-family: "Roboto_Medium";
        font-size: 0.8rem;
        font-weight: 600;
    }
    .items-ReadMore-Button a{
        padding: 1rem 10%;
    }
    .items-Picture__like-Icon{
        padding: 0.2rem;
    }
    .Main-Cotainer__ViewAll-Button a{
        padding: 1rem  20%;
    
    }
}