:root{
    --graytextColor : #D2D2D2;
    --Orange_theme_color : #E76F51;
    --text_button_border_radius : 1.5rem;
    --backBODY_color:#FAF4F2;
}

*{
        
}

*,*::after,*::before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color : black;
    
}