:root{
    --graytextColor : #D2D2D2;
    --grayReadMore : #8D8D8D;
    --Orange_theme_color : #E76F51;
    --Pink_theme_color :#F8E1DB;

    --text_button_border_radius : 1.5rem;

    --box_border_radius : 1.25rem;

    --backBODY_color:#FAF4F2;
}

*{
        
}

*,*::after,*::before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color : black;
    
}
body{
    background-color: var(--backBODY_color);
}